.add-category-paper {
    padding: 24px;
    margin: 24px auto;
    max-width: 400px;
}

.add-category-form {
    display: flex;
    flex-direction: column;
}

.add-category-button {
    margin-top: 16px;
}